@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
$bg_color:#FFF;
$text_color:#707070;
$color_primary:#fc758c;
body {
    background-color: $bg_color;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
//header
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 10% 0 10%;
    //menu
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title {
            display: flex;
            flex-direction: column;
            h1 {
                font-size: 10px;
                font-weight: bold;
                color: $text_color;
                padding: 0;
                margin: 0;
            }
            p {
                font-size: 5px;
                color: $text_color;
                padding: 0;
                margin: 0;
            }
        }
    }
}
ul {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    li {
        display: inline-block;
        min-width: 30px;
        text-align: center;
        margin: 0 10px 0 10px;
        a {
            padding: 7px 25px 7px 25px;
            width: 100%;
            height: 100%;
            color: $text_color;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-size: .6em;
            font-weight: bold;
        }
        .active {
            background-color: $color_primary;
            color: #FFF;
        }
    }
    input[type=search] {
        background: url(./images/search_icon.png) no-repeat 9px center;
        border: 0;
        padding: 5px 10px 5px 32px;
        width: 55px;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        &:focus {
            width: 130px;
            border-bottom: solid 1px #ccc;
            outline: none;
        }
    }
}
//banner
.landing {
    min-width: 100%;
    display: flex;
    background-color: $color_primary;
    flex-direction: column;
    align-items: center;
    .title {
        display: flex;
        flex-direction: column;
        margin: 10% 0 0 0;
        font-family: 'Montserrat', sans-serif;
        h1 {
            font-size: 2em;
            font-weight: bold;
            color: #FFF;
            padding-bottom: 1em;
            margin: 0;
            text-align: center;
            letter-spacing: 10px;
        }
        p {
            font-size: 0.7em;
            color: #FFF;
            padding: 0;
            margin: 0;
            padding-bottom: 1em;
            text-align: center;
        }
    }
}
.btn-view {
    margin: 2em 0 10% 0;
    padding: 4px 12px 4px 12px;
    font-size: 8px;
    width: auto;
    background-color: #FFF;
    color: $color_primary;
    border: 0;
    cursor: pointer;
}
//partfolio
.partfolio {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .view-navigation {
        display: flex;
        justify-content: center;
        padding: 2em 0 2em 0;
        li {
            width: 5px;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }
}
.sections {
    width: 80%;
    min-height: auto;
    display: block;
}
.grid-cubic {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: .5rem;
    padding: .5rem;
    div {
        background-color: #d5d5d5;
        grid-column: span 4;
        grid-row: span 4;
        background-size: cover;
        min-height: 200px;
        transition: all .5s;
    }
    div {
        &:hover div {
            opacity: .8;
        }
    }
}
.show-msg {
    background-color: $color_primary !important;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    hr {
        width: 70%;
        border: 0;
        height: 1px;
        background-color: #ffffff;
    }
    h1 {
        font-size: 2em;
        font-weight: 300;
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        font-size: 1em;
        text-transform: capitalize;
        font-family: 'Montserrat', sans-serif;
    }
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: .5rem;
    padding: .5rem;
    grid-auto-rows: minmax(100px, auto);
    min-height: calc(100vh - 1rem);
    div {
        background-color: #d5d5d5;
        grid-column: span 4;
        background-size: cover;
        min-height: 200px;
    }
    #item-1 {
        grid-column: 1/5;
        grid-row: 1/4;
    }
    #item-2 {
        grid-column: 5/9;
        grid-row: 1/3;
    }
    #item-3 {
        grid-column: 9/13;
        grid-row: 1/6;
    }
    #item-4 {
        grid-column: 1/5;
        grid-row: 4/10;
    }
    #item-5 {
        grid-column: 5/9;
        grid-row: 3/8;
    }
    #item-6 {
        grid-column: 9/13;
        grid-row: 6/9;
    }
    #item-7 {
        grid-column: 1/5;
        grid-row: 10/15;
    }
    #item-8 {
        grid-column: 5/9;
        grid-row: 8/15;
    }
    #item-9 {
        grid-column: 9/13;
        grid-row: 9/12;
    }
    #item-10 {
        grid-column: 9/13;
        grid-row: 12/15;
    }
    div {
        background-color: #d5d5d5;
        grid-column: span 4;
        grid-row: span 4;
        background-size: cover;
        min-height: 200px;
        transition: all .5s;
    }
    div {
        &:hover div {
            opacity: .8;
        }
    }
}
//footer
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .6em;
    font-weight: bold;
    color: $text_color;
    div {
        padding: 5px 0 10px 0;
    }
    button {
        background-color: $color_primary;
        border: 0;
        padding: 5px 20px 5px 20px;
        color: #FFF;
        font-size: .5rem;
        letter-spacing: 2px;
        cursor: pointer;
    }
    a {
        text-decoration: none;
        color: $color_primary;
    }
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 0;
            margin: 0;
            min-width: 10px;
        }
        a {
            padding: 8px;
        }
    }
}
//movil
$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .header {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
            width: 100%;
            margin: 0;
            padding: 0;
            display: block;
            padding: 10px 0 10px 0;
            a {
                display: block;
                width: 100% !important;
                margin: 0;
                padding: 10px 0 0 0;
            }
        }
    }
    .navigation {
        .menu {
            display: none;
        }
        .view-navigation {
            display: none !important;
        }
    }
    .grid,
    .grid-cubic {
        width: 100%;
        display: flex;
        flex-direction: column;
        div {
            width: 100%;
            max-height: 300px;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        div {
            padding: 10px 0 10px 0;
        }
        button {
            margin-top: 100px;
        }
        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            li {
                padding: 0;
                margin: 0;
                min-width: 10px;
            }
            a {
                padding: 8px;
            }
        }
    }
}